apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: todo-pvc
spec:
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 1Gi
---
# Deployment database
apiVersion: apps/v1
kind: Deployment
metadata:
    name: todo-db
spec:
    replicas: 1
    selector:
        matchLabels:
            app: todo-db
    template:
        metadata:
            labels:
                app: todo-db
        spec:
            containers:
                - name: todo-db
                  image: postgres:15-alpine
                  ports:
                    - containerPort: 5432
                  env:
                    - name: POSTGRES_USER
                      valueFrom:
                        secretKeyRef: 
                          name: todolist-secret
                          key: postgres-user
                    - name: POSTGRES_PASSWORD
                      valueFrom:
                        secretKeyRef:
                          name: todolist-secret
                          key: postgres-password
                    - name: POSTGRES_DB
                      valueFrom:
                        secretKeyRef:
                          name: todolist-secret
                          key: postgres-db
                  volumeMounts:
                    - name: postgres-storage
                      mountPath: /var/lib/postgresql/data
            volumes:
                - name: postgres-storage
                  persistentVolumeClaim:
                    claimName: todo-pvc
---
# Create network internal
apiVersion: v1
kind: Service
metadata:
    name: todo-service 
spec:
    selector:
        app: todo-db
    ports:
        - protocol: TCP
          port: 5432
          targetPort: 5432

